body{
    background-color: aqua;
}

header{
    background-color: rgb(213, 226, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: rgb(29, 27, 27);
    text-align: center;
}

#bottom{
    background-color: goldenrod;
}

#bottom h1{
    text-align: left;
}

#cuadro{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);

}
#cuadro2{
    width: 20%;
    height: 50%;
    background-color: rgb(21, 209, 78);

}

footer{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1{
    text-align: left;
}

#BUSCADOR{
    display: flex;
    justify-content: flex-end;
    background-color: aliceblue;
    width: 100px;
    height: 30px;
}

#BUSCADOR label{
    color: black;

}

#slidebar{
    background-color: bisque;
    height: 300px;
    width: 15%;
}

#content{
    background-color: rgb(31, 206, 15);
    width: 75%;
}

#center{
    display: flex;
}

div h1{
    text-align: center;
}

div{
    padding: 10px;
}
